{% extends 'base.html.twig' %}


{% block title %}Test
{% endblock %}

{% block header %}{% endblock %}
{% block body %}
	{{ include('components/header.html.twig') }}


        <div class="container px-6 py-16 mx-auto">
            <div class="items-center lg:flex">
                <div class="w-full lg:w-1/2">
                    <div class="lg:max-w-lg">
                        <h1 class="text-2xl font-semibold text-gray-800 uppercase dark:text-white lg:text-3xl">Lutter contre l’abandon</h1>
                        <p class="mt-2 text-gray-600 dark:text-gray-400">Aujourd’hui, Adopte un pet, c’est plus de 2000 animaux et autant de gamelles quotidiennes. Chaque animal y est soigné, identifié, stérilisé, et vacciné.</p>
                        {# <button class="w-full px-3 py-2 mt-6 text-xs font-medium text-white uppercase transition-colors duration-200 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500">Shop Now</button> #}
                    </div>
                </div>
        
                <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
                    <img class="w-full h-full lg:max-w-2xl" src="{{ asset('build/img/dogo.jpg') }}">
                </div>
            </div>
        </div>
{% endblock %}
